@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@import url(https://db.onlinewebfonts.com/c/ab596f21664c5582567537d241e2a53e?family=DIN+Next+Rounded+LT+W01+Regular);

@import "tailwindcss";

:root {
  font-family: "Feather Bold", "DIN Next Rounded LT W01 Regular", sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: "Feather Bold", sans-serif;
}

.subheader, p, span {
  font-family: "DIN Next Rounded LT W01 Regular", sans-serif;
}